
body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}


.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 0%);
    padding: 1px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar .item{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar .item:hover{
    background-color: hsl(0, 0%, 21%);
}
.navbar .cart-image:hover{
    scale: 1.05px;
}
.navbar li{
    float: left;
}

.navbar .cart{
    float: right;
    margin-left: 20px;
    transition: 0.3s;
}

.navbar .cart img{
    
    width: 30px;
    height: 30px;
    /*
    max-width: 100%;
    object-fit: cover;
*/
    overflow: hidden;
    margin-top: -15px;
    padding:25px;
    padding-bottom: 0px;
    
}